.errorTitle {
    font-size: 1.4rem;
    color: red;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    color: #888888;
}

.form {
    width: 60rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.radioFlex {
    display: flex;
    flex-direction: column-reverse;
}

.radoGroupFlex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

@media (min-width: 762px) {
    .form{
        max-width: unset;
        width: 50rem;
    }
}