.toDoItem {
    display:flex;
    flex-direction: row;
    gap: 1rem;
}

.left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}