html, body {
    font-size: 10px;
    font-weight: 400;
    font-family: "Segoe UI", sans-serif;
    background-color: #f8f8f8;

}

.container {
    width: 100%;
    max-width: 141rem;
    margin: 0 auto;
}